gitpython
dataclasses
opencv-python
glob2
nltk
spacy
gensim
pyldavis
tweepy
pydantic
pendulum
praw
torch
hydra-core
mlflow
streamlit
uvicorn
gunicorn
fastapi
langchain
openapi
wikipedia
chromadb
tiktoken